:root {
  --screen-sm: 375px; /* smartphone */
  --screen-md: 768px; /* tablet */
  --screen-lg: 992px; /* computer */

  --font-size: 18px;
  --font-size-sm: 16px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --line-height: 8px;

  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 15px;
  --margin-lg: 30px;
  --margin-end-page: 50px;

  --border-radius: 10px;
  --border-radius-lg: 30px;

  --blue: #4267B2;
  --blue-green: #007185;
  --charcoal: #2b2a33;
  --charcoal-light-1: #3b3946;
  --charcoal-light-2: #474554;
  --dark: #1c1b22;
  --gold: gold;
  --gold-dark: #e6c300;
  --gold-light: #ffdd1a;
  --gray: gray;
  --magenta: #8B008B;
  --red: #e60000;
  --red-light: #ff1a1a;

  --color-main: var(--gold);
  --color-second: var(--blue-green);
  --color-bg-page: var(--dark);
  --color-bg-navbar: var(--charcoal);
  --color-bg-text: white;
  --color-text: black;
  --color-icon-nav: white;
  --color-icon-bg: var(--charcoal-light-1);
  --color-icon-bg-active: var(--charcoal-light-2);

  --shadow: rgba(0, 0, 0, 0.6);
  --shadow-white: rgba(255, 255, 255, 0.3);

  --navbar-height: 60px; /* also present in constants.js */
  --navbar-icon-height: 25px;
  --navbar-box-height: 50px;
  --navbar-box-margin: calc((var(--navbar-height) - var(--navbar-box-height)) / 2);

  --actionButton-height: 76px;
  --actionButton-bottom: 8vh;
  --actionButton-margin: var(--margin-xs);
  --actionButton-space: calc(var(--actionButton-height) + var(--actionButton-bottom) + var(--margin-sm));
}

@media (max-width: 768px) {
  :root {
    --padding-page-h: var(--margin-sm);
    --padding-page-v: var(--margin-lg);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  :root {
    --padding-page-h: var(--margin-md);
    --padding-page-v: var(--margin-lg);
  }
}

@media (min-width: 992px) {
  :root {
    --padding-page-h: var(--margin-lg);
    --padding-page-v: var(--margin-lg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg-page);
  -webkit-text-size-adjust: 100%;  /* Prevent font scaling in landscape while allowing user zoom */
}

.page {
  width: 100%;
  overflow-x: hidden;
}

h1, .h1 {
  margin: 0;
  font-size: var(--font-size-h1);
  line-height: calc(var(--font-size-h1) + var(--line-height));
  color: var(--color-text);
  font-weight: normal;
}

h2, .h2 {
  margin: 0;
  font-size: var(--font-size-h2);
  line-height: calc(var(--font-size-h2) + var(--line-height));
  color: var(--color-text);
  font-weight: normal;
}

.header-modal {
  margin: 0;
  font-size: var(--font-size-h2);
  line-height: calc(var(--font-size-h2) + var(--line-height));
  color: var(--color-text);
  font-weight: bold;
}

p, u, pre {
  margin: 0;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + var(--line-height));
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  white-space: pre-wrap;
}

.p2 {
  font-size: var(--font-size-sm);
  line-height: calc(var(--font-size-sm) + var(--line-height));
}

a, .action {
  margin: 0;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + var(--line-height));
  color: var(--color-second);
  text-decoration: underline;
  cursor: pointer;
}

a.h1, a.h2 {
  color: var(--color-second);
}

.action {
  text-decoration: none;
}

a:hover, .action:hover {
  color: var(--gold-dark);
}

/* Media query for touchscreens */
@media (hover: none) {
  a:hover, .action:hover {
    color: var(--color-second);
  }
}

a:active, .action:active {
  color: var(--gold-dark);
}

.input-container {
  display: flex;
  flex-direction: column;
}

label, .label {
  margin: 0 0 var(--margin-sm) 0;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + var(--line-height));
  color: var(--color-text);
}

input, select {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + var(--line-height));
  color: var(--color-text);
  height: calc(var(--font-size) + var(--line-height) + 14px);
  box-sizing: border-box;
  border: 3px solid transparent;
}

input:focus, select:focus {
  border: 3px solid var(--color-second);
  outline: none;
}

.input-row, .input-double {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-double > input {
  width: 47%;
  margin-right: 6%;
}

.input-double > input:last-child {
  margin-right: 0;
}

.input-file-custom {
  display: none;
}

.navbar-icon-box {
  height: var(--navbar-box-height);
  width: var(--navbar-box-height);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 901;
}

.navbar-icon-box:hover {
  background-color: var(--color-icon-bg);
}

/* Media query for touchscreens */
@media (hover: none) {
  .navbar-icon-box:hover {
    background-color: transparent;
  }
}

.navbar-icon-box:active {
  background-color: var(--color-icon-bg-active);
}

.navbar-icon-box > * {
  color: var(--color-icon-nav);
  height: var(--navbar-icon-height);
  width: auto;
}

.hidden {
  visibility: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Parisienne';
  src: url('assets/fonts/Parisienne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MoonTime';
  src: url('assets/fonts/MoonTime-Regular.ttf') format('truetype');
}
